
<!-- Get data -->
<!-- <h1>Get values form Web API</h1>
<table>
  <thead>
    <tr>
      <td>CId</td>
      <td>Name</td>
      <td>Email</td>
      <td>Phone</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let customer of Customers">
     <td>{{customer.id}}</td>
     <td>{{customer.name}}</td>
     <td>{{customer.email}}</td>
     <td>{{customer.phone}}</td>
    </tr>
  </tbody>
</table> -->

<!-- Post Data -->
<h1>Post values to Web API</h1>

<form #register="ngForm" (submit)="SaveCustomer(register.value)">
  <input type="text" name="name" placeholder="Name" ngModel> <br> <br>
  <input type="email" name="email" placeholder="Email" ngModel> <br><br>
  <input type="text" name="phone" placeholder="Phone" ngModel> <br><br>
  <button type="submit">Add Customer</button>
</form>